<div class='split-pane col-xs-12 col-sm-6 uiux-side'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <div>
        <div class='text-content'>
            <div class="bold">For Viewing Student Reports</div>
            <!-- <div class='big'>UI/UX?</div> -->
        </div>
        <a class="button" (click)="viewReports()">
            VIEW REPORTS
        </a>
    </div>
</div>
<div class='split-pane col-xs-12 col-sm-6 frontend-side'>
    <div>
      <div class='text-content'>
        <div class="bold">For Adding and Deleting Tests</div>
        <!-- <div class='big'>FRONT-END?</div> -->
      </div>
      <a class='button' (click)="addRemoveTest()">
        ADD/REMOVE TEST
      </a>
    </div>
</div>
<div id='split-pane-or'>
    <div>
        <img src='/assets/images/icon.png' style="border-radius: 50%;">
    </div>
</div>