# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
node_modules/
Gladiator_Backend/GladiatorBackend/GladiatorBackend/Models/

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
Backend/jars/*

# System Files
.DS_Store
Thumbs.db

# python venv
.dqvenv/
.dqenv/
__pycache__/

# Spark warehouse
*.log
metastore_db/
spark-warehouse/

# config files details
metadatadb.json
sparkconf.json

# Testing files
dump.*
GladiatorBackend/.vs/GladiatorBackend/v16/.suo
GladiatorBackend/GladiatorBackend/bin/GladiatorBackend.dll
GladiatorBackend/GladiatorBackend/bin/GladiatorBackend.dll.config
GladiatorBackend/GladiatorBackend/bin/GladiatorBackend.pdb
GladiatorBackend/GladiatorBackend/obj/Debug/GladiatorBackend.csproj.CoreCompileInputs.cache
GladiatorBackend/GladiatorBackend/obj/Debug/GladiatorBackend.csproj.FileListAbsolute.txt
GladiatorBackend/GladiatorBackend/obj/Debug/GladiatorBackend.csprojAssemblyReference.cache
GladiatorBackend/GladiatorBackend/obj/Debug/GladiatorBackend.dll
GladiatorBackend/GladiatorBackend/obj/Debug/GladiatorBackend.pdb
GladiatorBackend/GladiatorBackend/Web.config
