<!-- 
    Register Page 
    Reactive forms is Used and different Validations have been provided using formgroup Validators. 
 -->
<div class="main">
    <div class="signup-form">
        <form [formGroup]="registerForm" (ngSubmit)="register()" class="was-validated">
            <i class="fa fa-graduation-cap" style="font-size:100px;padding-left:35%;" aria-hidden="true"></i>
            <h2 style="font-family: 'Ubuntu'; font-weight:bolder;">Register</h2>
            <p class="hint-text">Create your account it only takes a minute.</p>
            <div class="form-group">
                <input type="text" id="full_name" class="form-control" placeholder="Full Name" required="required" formControlName="full_name" [ngClass]="{ 'is-invalid': registerCheck && registerFormAccess.full_name.errors }">
                <div *ngIf="registerCheck && registerFormAccess.full_name.errors" class="invalid-feedback">
                    <div *ngIf="registerFormAccess.full_name.errors.required">Name is required *</div>
                    <div *ngIf="registerFormAccess.full_name.errors.pattern">Name Should consist only Alphabets.</div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" id="mobile" minlength="10" maxlength="10" class="form-control" placeholder="Contact Number" required="required" formControlName="mobile" [ngClass]="{ 'is-invalid': registerCheck && registerFormAccess.mobile.errors }">
                <div *ngIf="registerCheck && registerFormAccess.full_name.errors" class="invalid-feedback">
                    <div *ngIf="registerFormAccess.mobile.errors?.required">Contact Number is required *</div>
                    <div *ngIf="registerFormAccess.mobile.errors?.maxlength">Contact Number Should have only 10 Digits</div>
                    <div *ngIf="registerFormAccess.mobile.errors?.minlength">Contact Number Should have only 10 Digits</div>
                    <div *ngIf="registerFormAccess.mobile.errors?.pattern">Contact Number Should have only Numerical Characters</div>
                </div>
            </div>
            <div class="form-group">
                <input type="email" id="email_id" class="form-control" placeholder="email@example.com" required="required" formControlName="email_id" [ngClass]="{ 'is-invalid': registerCheck && registerFormAccess.email_id.errors}">
                <div *ngIf="registerCheck && registerFormAccess.email_id.errors" class="invalid-feedback">
                    <div *ngIf="registerFormAccess.email_id.errors.required">Email is required *</div>
                    <div *ngIf="registerFormAccess.email_id.errors.email">Email ID Invalid.</div>
                </div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" required="required" formControlName="password" [ngClass]="{ 'is-invalid': registerCheck && registerFormAccess.password.errors }">
                <div *ngIf="registerCheck && registerFormAccess.password.errors" class="invalid-feedback">
                    <div *ngIf="registerFormAccess.password.errors.required">Password is required *</div>
                    <div *ngIf="registerFormAccess.password.errors.minlength">Length should be greater than 6 characters Long</div>
                </div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required" formControlName="confirm_password" [ngClass]="{ 'is-invalid': registerCheck && registerFormAccess.confirm_password.errors }">
                <div *ngIf="registerCheck && registerFormAccess.confirm_password.errors" class="invalid-feedback">
                    <div *ngIf="registerFormAccess.confirm_password.errors.required">Password is required *</div>
                    <div *ngIf="registerFormAccess.confirm_password.errors.minlength">Length should be atleast 6 characters Long</div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" id="city" class="form-control" placeholder="Enter City (Eg.: Mumbai)" required="required" formControlName="city" [ngClass]="{ 'is-invalid': registerCheck && registerFormAccess.city.errors }">
                <div *ngIf="registerCheck && registerFormAccess.city.errors" class="invalid-feedback">
                    <div *ngIf="registerFormAccess.city.errors.required">City is required *</div>
                </div>
            </div> 
            <div class="form-group">
                <input type="text" id="state" class="form-control" placeholder="Enter State (Eg.: Maharashtra)" required="required" formControlName="state" [ngClass]="{ 'is-invalid': registerCheck && registerFormAccess.state.errors }">
                <div *ngIf="registerCheck && registerFormAccess.state.errors" class="invalid-feedback">
                    <div *ngIf="registerFormAccess.state.errors.required">State is required *</div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" id="dob" class="form-control" placeholder="Enter Date of Birth" required="required" onfocus="(this.type='date')" min="1990-01-01" max="2002-12-31" formControlName="dob" [ngClass]="{ 'is-invalid': registerCheck && registerFormAccess.dob.errors }">
                <div *ngIf="registerCheck && registerFormAccess.dob.errors" class="invalid-feedback">
                    <div *ngIf="registerFormAccess.dob.errors.required">Date of Birth is Mandatory *</div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" id="qualification" class="form-control" placeholder="Qualification (Eg.: BE/BTech)" required="required" formControlName="qualification" [ngClass]="{ 'is-invalid': registerCheck && registerFormAccess.qualification.errors }">
                <div *ngIf="registerCheck && registerFormAccess.qualification.errors" class="invalid-feedback">
                    <div *ngIf="registerFormAccess.qualification.errors.required">Qualification is required *</div>
                </div>
            </div>
            <div class="form-group">
                <input type="number" id="yoc" class="form-control" placeholder="Year of Completion (Eg.: 2020)" required="required" formControlName="yoc" [ngClass]="{ 'is-invalid': registerCheck && registerFormAccess.yoc.errors }">
                <div *ngIf="registerCheck && registerFormAccess.yoc.errors" class="invalid-feedback">
                    <div *ngIf="registerFormAccess.yoc.errors.required">Year of Completion is required *</div>
                </div>
            </div>
            <div class="form-group">
                <re-captcha formControlName="reCaptcha"></re-captcha>
                <div *ngIf="registerCheck && registerFormAccess.reCaptcha.errors" class="invalid-feedback">
                    <div *ngIf="registerFormAccess.reCaptcha.errors.required">Captcha Required *</div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Register Now</button>
            </div>
        </form>
    </div>
</div>