<div class="main" *ngIf="showTest == true">
    <mat-toolbar color="primary" class="navbar">
        <div style="font-family:'Ubuntu';font-weight:bolder;letter-spacing:1px;font-size:25px;padding-left:25px; cursor:pointer"><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;LTIeQ</div>
        <div>
            <span>
                Time Remaining : {{counter | formatTime}}    
            </span>
        </div>
    </mat-toolbar>

    
<br>

<div class="btn-group container" style="margin-left:30px;">
    <div (click)="pressedQ1()">
        <button  class="btn btn-danger test-Btn" *ngIf="addReview1 == false && selectedOptions[0] == null">
            Q1
        </button>
        <button class="btn btn-info test-Btn" *ngIf="addReview1 == true">
            Q1
        </button>
        <button  class="btn btn-success test-Btn" *ngIf="addReview1 == false && selectedOptions[0] != null">
            Q1
        </button>
    </div>

    <div (click)="pressedQ2()">
        <button  class="btn btn-danger test-Btn" *ngIf="addReview2 == false && selectedOptions[1] == null">
            Q2
        </button>
        <button class="btn btn-info test-Btn" *ngIf="addReview2 == true">
            Q2
        </button>
        <button class="btn btn-success test-Btn" *ngIf="addReview2 == false && selectedOptions[1] != null">
            Q2
        </button>
    </div>

    <div (click)="pressedQ3()">
        <button class="btn btn-danger test-Btn" *ngIf="addReview3 == false && selectedOptions[2] == null">
            Q3
        </button>
        <button class="btn btn-info test-Btn" *ngIf="addReview3 == true">
            Q3
        </button>
        <button class="btn btn-success test-Btn" *ngIf="addReview3 == false && selectedOptions[2] != null">
            Q3
        </button>
    </div>

    <div (click)="pressedQ4()">
        <button class="btn btn-danger test-Btn" *ngIf="addReview4 == false && selectedOptions[3] == null">
            Q4
        </button>
        <button class="btn btn-info test-Btn" *ngIf="addReview4 == true">
            Q4
        </button>
        <button  class="btn btn-success test-Btn" *ngIf="addReview4 == false && selectedOptions[3] != null">
            Q4
        </button>
    </div>

    <div (click)="pressedQ5()">
        <button class="btn btn-danger test-Btn" *ngIf="addReview5 == false && selectedOptions[4] == null">
            Q5
        </button>
        <button class="btn btn-info test-Btn" *ngIf="addReview5 == true">
            Q5
        </button>
        <button class="btn btn-success test-Btn" *ngIf="addReview5 == false && selectedOptions[4] != null">
            Q5
        </button>
    </div>
    
    <div (click)="pressedQ6()">
        <button class="btn btn-danger test-Btn" *ngIf="addReview6 == false && selectedOptions[5] == null">
            Q6
        </button>
        <button class="btn btn-info test-Btn" *ngIf="addReview6 == true">
            Q6
        </button>
        <button class="btn btn-success test-Btn" *ngIf="addReview6 == false && selectedOptions[5] != null">
            Q6
        </button>
    </div>
    
    <div (click)="pressedQ7()">
        <button class="btn btn-danger test-Btn" *ngIf="addReview7 == false && selectedOptions[6] == null">
            Q7
        </button>
        <button class="btn btn-info test-Btn" *ngIf="addReview7 == true">
            Q7
        </button>
        <button class="btn btn-success test-Btn"  *ngIf="addReview7 == false && selectedOptions[6] != null">
            Q7
        </button>
    </div>
    
    <div (click)="pressedQ8()">
        <button class="btn btn-danger test-Btn" *ngIf="addReview8 == false && selectedOptions[7] == null">
            Q8
        </button>
        <button class="btn btn-info test-Btn" *ngIf="addReview8 == true">
            Q8
        </button>
        <button class="btn btn-success test-Btn" *ngIf="addReview8 == false && selectedOptions[7] != null">
            Q8
        </button>
    </div>

    <div (click)="pressedQ9()">
        <button class="btn btn-danger test-Btn" *ngIf="addReview9 == false && selectedOptions[8] == null">
            Q9
        </button>
        <button class="btn btn-info test-Btn" *ngIf="addReview9 == true">
            Q9
        </button>
        <button class="btn btn-success test-Btn" *ngIf="addReview9 == false && selectedOptions[8] != null">
            Q9
        </button>
    </div>

    <div (click)="pressedQ10()">
        <button class="btn btn-danger test-Btn" *ngIf="addReview10 == false && selectedOptions[9] == null">
            Q10
        </button>
        <button class="btn btn-info test-Btn" *ngIf="addReview10 == true">
            Q10
        </button>
        <button  class="btn btn-success test-Btn" *ngIf="addReview10 == false && selectedOptions[9] != null">
            Q10
        </button>
    </div>

    <div (click)="pressedQ11()">
        <button class="btn btn-danger test-Btn" *ngIf="addReview11 == false && selectedOptions[10] == null">
            Q11
        </button>
        <button class="btn btn-info test-Btn"  *ngIf="addReview11 == true">
        Q11
        </button>
        <button class="btn btn-success test-Btn" *ngIf="addReview11 == false && selectedOptions[10] != null">
            Q11
        </button>
    </div>

    <div (click)="pressedQ12()">
        <button class="btn btn-danger test-Btn" *ngIf="addReview12 == false && selectedOptions[11] == null">
            Q12
        </button>
        <button class="btn btn-info test-Btn" *ngIf="addReview12 == true">
            Q12
        </button>
        <button class="btn btn-success test-Btn" *ngIf="addReview12 == false && selectedOptions[11] != null">
            Q12
        </button>
    </div>

    <div (click)="pressedQ13()">
        <button class="btn btn-danger test-Btn" *ngIf="addReview13 == false && selectedOptions[12] == null">
            Q13
        </button>
        <button class="btn btn-info test-Btn" *ngIf="addReview13 == true">
            Q13
        </button>
        <button class="btn btn-success test-Btn" *ngIf="addReview13 == false && selectedOptions[12] != null">
            Q13
        </button>
    </div>

    <div (click)="pressedQ14()">
        <button class="btn btn-danger test-Btn" *ngIf="addReview14 == false && selectedOptions[13] == null">
            Q14
        </button>
        <button class="btn btn-info test-Btn" *ngIf="addReview14 == true">
            Q14
        </button>
        <button class="btn btn-success test-Btn" *ngIf="addReview14 == false && selectedOptions[13] != null">
            Q14
        </button>
    </div>

    <div (click)="pressedQ15()">
        <button class="btn btn-danger test-Btn" *ngIf="addReview15 == false && selectedOptions[14] == null">
            Q15
        </button>
        <button class="btn btn-info test-Btn" *ngIf="addReview15 == true">
            Q15
        </button>
        <button class="btn btn-success test-Btn" *ngIf="addReview15 == false && selectedOptions[14] != null">
            Q15
        </button>
    </div>
    
    <div (click)="pressedQ16()">
        <button class="btn btn-danger test-Btn" *ngIf="addReview16 == false && selectedOptions[15] == null">
            Q16
        </button>
        <button class="btn btn-info test-Btn" *ngIf="addReview16 == true">
            Q16
        </button>
        <button class="btn btn-success test-Btn"  *ngIf="addReview16 == false && selectedOptions[15] != null">
            Q16
        </button>
    </div>
    
    <div (click)="pressedQ17()">
        <button class="btn btn-danger test-Btn" *ngIf="addReview17 == false && selectedOptions[16] == null">
            Q17
        </button>
        <button class="btn btn-info test-Btn" *ngIf="addReview17 == true">
            Q17
        </button>
        <button class="btn btn-success test-Btn" *ngIf="addReview17 == false && selectedOptions[16] != null">
            Q17
        </button>
    </div>
    
    <div (click)="pressedQ18()">
        <button class="btn btn-danger test-Btn" *ngIf="addReview18 == false && selectedOptions[17] == null">
            Q18
        </button>
        <button class="btn btn-info test-Btn" *ngIf="addReview18 == true">
            Q18
        </button>
        <button  class="btn btn-success test-Btn" *ngIf="addReview18 == false && selectedOptions[17] != null">
            Q18
        </button>
    </div>

    <div (click)="pressedQ19()">
        <button class="btn btn-danger test-Btn" *ngIf="addReview19 == false && selectedOptions[18] == null">
            Q19
        </button>
        <button class="btn btn-info test-Btn" *ngIf="addReview19 == true">
            Q19
        </button>
        <button class="btn btn-success test-Btn" *ngIf="addReview19 == false && selectedOptions[18] != null">
            Q19
        </button>
    </div>

    <div  (click)="pressedQ20()">
        <button class="btn btn-danger test-Btn"*ngIf="addReview20 == false && selectedOptions[19] == null">
            Q20
        </button>
        <button class="btn btn-info test-Btn" *ngIf="addReview20 == true">
            Q20
        </button>
        <button class="btn btn-success test-Btn" *ngIf="addReview20 == false && selectedOptions[19] != null">
            Q20
        </button>
    </div>

</div>

<div *ngIf="showQ1 == true" class="container" style="margin:25px;padding-left:100px;">
    <div>
        <table class="table table-bordered">
            <thead>
                <tr >
                    <th colspan="2" style="text-align: left;">Q. 1 {{level2[0].question}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:10%;">
                        <input type="radio" name="option0" [checked]="checkq1o1" (click)="keepChecked1('1')" (click)="selectedOptions[0] = level2[0].option1">
                    </td>
                    <td style="text-align:left;">
                        {{level2[0].option1}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option0" [checked]="checkq1o2" (click)="keepChecked1('2')" (click)="selectedOptions[0] = level2[0].option2">
                    </td>
                    <td style="text-align:left;">
                        {{level2[0].option2}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option0" [checked]="checkq1o3" (click)="keepChecked1('3')" (click)="selectedOptions[0] = level2[0].option3">
                    </td>
                    <td style="text-align:left;">
                        {{level2[0].option3}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option0" [checked]="checkq1o4" (click)="keepChecked1('4')" (click)="selectedOptions[0] = level2[0].option4">
                    </td>
                    <td style="text-align:left;">
                        {{level2[0].option4}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" [checked]="addReview1" name="review1" (change)="addReview1 = !addReview1">&nbsp;
                        Add to Review
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="showQ2 == true" class="container" style="margin:25px;padding-left:100px;">
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2" style="text-align:left;">Q. 2 {{level2[1].question}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:10%;">
                        <input type="radio" name="option1" [checked]="checkq2o1" (click)="keepChecked2('1')" (click)="selectedOptions[1] = level2[1].option1">
                    </td>
                    <td style="text-align:left;">
                        {{level2[1].option1}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option1" [checked]="checkq2o2" (click)="keepChecked2('2')" (click)="selectedOptions[1] = level2[1].option2">
                    </td>
                    <td style="text-align:left;">
                        {{level2[1].option2}}
                    </td>
                </tr>
                <tr>
                    <td >
                        <input type="radio" name="option1" [checked]="checkq2o3" (click)="keepChecked2('3')" (click)="selectedOptions[1] = level2[1].option3">
                    </td>
                    <td style="text-align:left;">
                        {{level2[1].option3}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option1" [checked]="checkq2o4" (click)="keepChecked2('4')" (click)="selectedOptions[1] = level2[1].option4">
                    </td>
                    <td style="text-align:left;">
                        {{level2[1].option4}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" [checked]="addReview2" name="review2" (change)="addReview2 = !addReview2">&nbsp;
                        Add to Review
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="showQ3 == true" class="container" style="margin:25px;padding-left:100px;">
    <div>
        <table class="table table-bordered">
            <thead>
                <tr >
                    <th colspan="2" style="text-align:left;">Q. 3 {{level2[2].question}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:10%;">
                        <input type="radio" name="option2" [checked]="checkq3o1" (click)="keepChecked3('1')"  (click)="selectedOptions[2] = level2[2].option1">
                    </td>
                    <td style="text-align:left;">
                        {{level2[2].option1}}
                    </td>
                </tr>
                <tr>
                    <td >
                        <input type="radio" name="option2" [checked]="checkq3o2" (click)="keepChecked3('2')"  (click)="selectedOptions[2] = level2[2].option2">
                    </td>
                    <td style="text-align:left;">
                        {{level2[2].option2}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option2" [checked]="checkq3o3" (click)="keepChecked3('3')"  (click)="selectedOptions[2] = level2[2].option3">
                    </td>
                    <td style="text-align:left;">
                        {{level2[2].option3}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option2" [checked]="checkq3o4" (click)="keepChecked3('4')"  (click)="selectedOptions[2] = level2[2].option4">
                    </td>
                    <td style="text-align:left;">
                        {{level2[2].option4}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" [checked]="addReview3" name="review3" (change)="addReview3 = !addReview3">&nbsp;
                        Add to Review
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="showQ4 == true" class="container" style="margin:25px;padding-left:100px;">
    <div>
        <table class="table table-bordered">
            <thead>
                <tr >
                    <th colspan="2" style="text-align:left;">Q. 4 {{level2[3].question}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:10%;">
                        <input type="radio" name="option3" [checked]="checkq4o1" (click)="keepChecked4('1')" (click)="selectedOptions[3] = level2[3].option1">
                    </td>
                    <td style="text-align:left;">
                        {{level2[3].option1}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option3" [checked]="checkq4o2" (click)="keepChecked4('2')" (click)="selectedOptions[3] = level2[3].option2">
                    </td>
                    <td style="text-align:left;">
                        {{level2[3].option2}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option3" [checked]="checkq4o3" (click)="keepChecked4('3')" (click)="selectedOptions[3] = level2[3].option3">
                    </td>
                    <td style="text-align:left;">
                        {{level2[3].option3}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option3" [checked]="checkq4o4" (click)="keepChecked4('4')" (click)="selectedOptions[3] = level2[3].option4">
                    </td>
                    <td style="text-align:left;">
                        {{level2[3].option4}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" [checked]="addReview4" name="review4" (change)="addReview4 = !addReview4">&nbsp;
                        Add to Review
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="showQ5 == true" class="container" style="margin:25px;padding-left:100px;">
    <div>
        <table class="table table-bordered">
            <thead>
                <tr >
                    <th colspan="2"  style="text-align:left;">Q. 5 {{level2[4].question}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:10%;">
                        <input type="radio" name="option4" [checked]="checkq5o1" (click)="keepChecked5('1')" (click)="selectedOptions[4] = level2[4].option1">
                    </td>
                    <td style="text-align:left;">
                        {{level2[4].option1}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option4" [checked]="checkq5o2" (click)="keepChecked5('2')" (click)="selectedOptions[4] = level2[4].option2">
                    </td>
                    <td style="text-align:left;">
                        {{level2[4].option2}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option4" [checked]="checkq5o3" (click)="keepChecked5('3')" (click)="selectedOptions[4] = level2[4].option3">
                    </td>
                    <td style="text-align:left;">
                        {{level2[4].option3}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option4" [checked]="checkq5o4" (click)="keepChecked5('4')" (click)="selectedOptions[4] = level2[4].option4">
                    </td>
                    <td style="text-align:left;">
                        {{level2[4].option4}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" [checked]="addReview5" name="review5" (change)="addReview5 = !addReview5">&nbsp;
                        Add to Review
                    </td>
                </tr>
            </tbody>
        </table> 
    </div>
</div>

<div *ngIf="showQ6 == true" class="container" style="margin:25px;padding-left:100px;">
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2" style="text-align:left;">Q. 6 {{level2[5].question}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:10%;">
                        <input type="radio" name="option5" [checked]="checkq6o1" (click)="keepChecked6('1')" (click)="selectedOptions[5] = level2[5].option1">
                    </td>
                    <td style="text-align:left;">
                        {{level2[5].option1}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option5" [checked]="checkq6o2" (click)="keepChecked6('2')" (click)="selectedOptions[5] = level2[5].option2">
                    </td>
                    <td style="text-align:left;">
                        {{level2[5].option2}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option5" [checked]="checkq6o3" (click)="keepChecked6('3')" (click)="selectedOptions[5] = level2[5].option3">
                    </td>
                    <td style="text-align:left;">
                        {{level2[5].option3}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option5" [checked]="checkq6o4" (click)="keepChecked6('4')" (click)="selectedOptions[5] = level2[5].option4">
                    </td>
                    <td style="text-align:left;">
                        {{level2[5].option4}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" [checked]="addReview6" name="review6" (change)="addReview6 = !addReview6">&nbsp;
                        Add to Review
                    </td>
                </tr>
            </tbody>
        </table> 
    </div>
</div>

<div *ngIf="showQ7 == true" class="container"  style="margin:25px;padding-left:100px;">
    <div>
        <table class="table table-bordered">
            <thead>
                <tr >
                    <th colspan="2" style="text-align:left;">Q. 7 {{level2[6].question}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:10%;">
                        <input type="radio" name="option6" [checked]="checkq7o1" (click)="keepChecked7('1')" (click)="selectedOptions[6] = level2[6].option1">
                    </td>
                    <td style="text-align:left;">
                        {{level2[6].option1}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option6" [checked]="checkq7o2" (click)="keepChecked7('2')" (click)="selectedOptions[6] = level2[6].option2">
                    </td>
                    <td style="text-align:left;">
                        {{level2[6].option2}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option6" [checked]="checkq7o3" (click)="keepChecked7('3')" (click)="selectedOptions[6] = level2[6].option3">
                    </td>
                    <td style="text-align:left;">
                        {{level2[6].option3}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option6" [checked]="checkq7o4" (click)="keepChecked7('4')" (click)="selectedOptions[6] = level2[6].option4">
                    </td>
                    <td style="text-align:left;">
                        {{level2[6].option4}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" [checked]="addReview7" name="review7" (change)="addReview7 = !addReview7">&nbsp;
                        Add to Review
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="showQ8 == true" class="container" style="margin:25px;padding-left:100px;">
    <div>
        <table class="table table-bordered">
            <thead>
                <tr >
                    <th colspan="2" style="text-align:left;">Q. 8 {{level2[7].question}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:10%;">
                        <input type="radio" name="option7" [checked]="checkq8o1" (click)="keepChecked8('1')" (click)="selectedOptions[7] = level2[7].option1">
                    </td>
                    <td style="text-align:left;">
                        {{level2[7].option1}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option7" [checked]="checkq8o2" (click)="keepChecked8('2')" (click)="selectedOptions[7] = level2[7].option2">
                    </td>
                    <td style="text-align:left;">
                        {{level2[7].option2}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option7" [checked]="checkq8o3" (click)="keepChecked8('3')" (click)="selectedOptions[7] = level2[7].option3">
                    </td>
                    <td style="text-align:left;">
                        {{level2[7].option3}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option7" [checked]="checkq8o4" (click)="keepChecked8('4')" (click)="selectedOptions[7] = level2[7].option4">
                    </td>
                    <td style="text-align:left;">
                        {{level2[7].option4}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" [checked]="addReview8" name="review8" (change)="addReview8 = !addReview8">&nbsp;
                        Add to Review
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="showQ9 == true" class="container" style="margin:25px;padding-left:100px;">
    <div>
        <table class="table table-bordered">
            <thead>
                <tr >
                    <th colspan="2" style="text-align:left;">Q. 9 {{level2[8].question}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:10%;">
                        <input type="radio" name="option8" [checked]="checkq9o1" (click)="keepChecked9('1')" (click)="selectedOptions[8] = level2[8].option1">
                    </td>
                    <td style="text-align:left;">
                        {{level2[8].option1}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option8" [checked]="checkq9o2" (click)="keepChecked9('2')" (click)="selectedOptions[8] = level2[8].option2">
                    </td>
                    <td style="text-align:left;">
                        {{level2[8].option2}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option8" [checked]="checkq9o3" (click)="keepChecked9('3')" (click)="selectedOptions[8] = level2[8].option3">
                    </td>
                    <td style="text-align:left;">
                        {{level2[8].option3}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option8" [checked]="checkq9o4" (click)="keepChecked9('4')" (click)="selectedOptions[8] = level2[8].option4">
                    </td>
                    <td style="text-align:left;">
                        {{level2[8].option4}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" [checked]="addReview9" name="review9" (change)="addReview9= !addReview9">&nbsp;
                        Add to Review
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="showQ10 == true" class="container" style="margin:25px;padding-left:100px;">
    <div>
        <table class="table table-bordered">
            <thead>
                <tr >
                    <th colspan="2" style="text-align:left;">Q. 10 {{level2[9].question}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:10%;">
                        <input type="radio" name="option9" [checked]="checkq10o1" (click)="keepChecked10('1')" (click)="selectedOptions[9] = level2[9].option1">
                    </td>
                    <td style="text-align:left;">
                        {{level2[9].option1}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option9" [checked]="checkq10o2" (click)="keepChecked10('2')" (click)="selectedOptions[9] = level2[9].option2">
                    </td>
                    <td style="text-align:left;">
                        {{level2[9].option2}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option9" [checked]="checkq10o3" (click)="keepChecked10('3')" (click)="selectedOptions[9] = level2[9].option3">
                    </td>
                    <td style="text-align:left;">
                        {{level2[9].option3}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option9" [checked]="checkq10o4" (click)="keepChecked10('4')" (click)="selectedOptions[9] = level2[9].option4">
                    </td>
                    <td style="text-align:left;">
                        {{level2[9].option4}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" [checked]="addReview10" name="review10" (change)="addReview10 = !addReview10">&nbsp;
                        Add to Review
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div *ngIf="showQ11 == true" class="container" style="margin:25px;padding-left:100px;">
    <div>
        <table class="table table-bordered">
            <thead>
                <tr >
                    <th colspan="2" style="text-align:left;">Q. 11 {{level2[10].question}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:10%;">
                        <input type="radio" name="option10" [checked]="checkq11o1" (click)="keepChecked11('1')"  (click)="selectedOptions[10] = level2[10].option1">
                    </td>
                    <td style="text-align:left;">
                        {{level2[10].option1}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option10" [checked]="checkq11o2" (click)="keepChecked11('2')"  (click)="selectedOptions[10] = level2[10].option2">
                    </td>
                    <td style="text-align:left;">
                        {{level2[10].option2}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option10" [checked]="checkq11o3" (click)="keepChecked11('3')"  (click)="selectedOptions[10] = level2[10].option3">
                    </td>
                    <td style="text-align:left;">
                        {{level2[10].option3}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option10" [checked]="checkq11o4" (click)="keepChecked11('4')"  (click)="selectedOptions[10] = level2[10].option4">
                    </td>
                    <td style="text-align:left;">
                        {{level2[10].option4}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" [checked]="addReview11" name="review11" (change)="addReview11 = !addReview11">&nbsp;
                        Add to Review
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div *ngIf="showQ12 == true" class="container" style="margin:25px;padding-left:100px;">
    <div>
        <table class="table table-bordered" >
            <thead>
                <tr >
                    <th colspan="2" style="text-align:left;">Q. 12 {{level2[11].question}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:10%;">
                        <input type="radio" name="option11" [checked]="checkq12o1" (click)="keepChecked12('1')"  (click)="selectedOptions[11] = level2[11].option1">
                    </td>
                    <td style="text-align:left;">
                        {{level2[11].option1}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option11" [checked]="checkq12o2" (click)="keepChecked12('2')"  (click)="selectedOptions[11] = level2[11].option2">
                    </td>
                    <td style="text-align:left;">
                        {{level2[11].option2}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option11" [checked]="checkq12o3" (click)="keepChecked12('3')"  (click)="selectedOptions[11] = level2[11].option3">
                    </td>
                    <td style="text-align:left;">
                        {{level2[11].option3}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option11" [checked]="checkq12o4" (click)="keepChecked12('4')"  (click)="selectedOptions[11] = level2[11].option4">
                    </td>
                    <td style="text-align:left;">
                        {{level2[11].option4}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" [checked]="addReview12" name="review12" (change)="addReview12 = !addReview12">&nbsp;
                        Add to Review
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div *ngIf="showQ13 == true" class="container" style="margin:25px;padding-left:100px;">
    <div>
        <table class="table table-bordered">
            <thead>
                <tr >
                    <th colspan="2" style="text-align:left;">Q. 13 {{level2[12].question}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:10%;">
                        <input type="radio" name="option12" [checked]="checkq13o1" (click)="keepChecked13('1')" (click)="selectedOptions[12] = level2[12].option1">
                    </td>
                    <td style="text-align:left;">
                        {{level2[12].option1}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option12" [checked]="checkq13o2" (click)="keepChecked13('2')" (click)="selectedOptions[12] = level2[12].option2">
                    </td>
                    <td style="text-align:left;">
                        {{level2[12].option2}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option12" [checked]="checkq13o3" (click)="keepChecked13('3')" (click)="selectedOptions[12] = level2[12].option3">
                    </td>
                    <td style="text-align:left;">
                        {{level2[12].option3}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option12" [checked]="checkq13o4" (click)="keepChecked13('4')" (click)="selectedOptions[12] = level2[12].option4">
                    </td>
                    <td style="text-align:left;">
                        {{level2[12].option4}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" [checked]="addReview13" name="review13" (change)="addReview13 = !addReview13">&nbsp;
                        Add to Review
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div *ngIf="showQ14 == true" class="container" style="margin:25px;padding-left:100px;">
    <div>
        <table class="table table-bordered">
            <thead>
                <tr >
                    <th colspan="2" style="text-align:left;">Q. 14 {{level2[13].question}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:10%;">
                        <input type="radio" name="option13" [checked]="checkq14o1" (click)="keepChecked14('1')" (click)="selectedOptions[13] = level2[13].option1">
                    </td>
                    <td style="text-align:left;">
                        {{level2[13].option1}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option13" [checked]="checkq14o2" (click)="keepChecked14('2')" (click)="selectedOptions[13] = level2[13].option2">
                    </td>
                    <td style="text-align:left;">
                        {{level2[13].option2}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option13" [checked]="checkq14o3" (click)="keepChecked14('3')" (click)="selectedOptions[13] = level2[13].option3">
                    </td>
                    <td style="text-align:left;">
                        {{level2[13].option3}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option13" [checked]="checkq14o4" (click)="keepChecked14('4')" (click)="selectedOptions[13] = level2[13].option4">
                    </td>
                    <td style="text-align:left;">
                        {{level2[13].option4}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" [checked]="addReview14" name="review14" (change)="addReview14 = !addReview14">&nbsp;
                        Add to Review
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div *ngIf="showQ15 == true" class="container" style="margin:25px;padding-left:100px;">
    <div>
        <table class="table table-bordered">
            <thead>
                <tr >
                    <th colspan="2" style="text-align:left;">Q. 15 {{level2[14].question}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:10%;">
                        <input type="radio" name="option14" [checked]="checkq15o1" (click)="keepChecked15('1')" (click)="selectedOptions[14] = level2[14].option1">
                    </td>
                    <td style="text-align:left;">
                        {{level2[14].option1}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option14" [checked]="checkq15o2" (click)="keepChecked15('2')" (click)="selectedOptions[14] = level2[14].option2">
                    </td>
                    <td style="text-align:left;">
                        {{level2[14].option2}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option14" [checked]="checkq15o3" (click)="keepChecked15('3')" (click)="selectedOptions[14] = level2[14].option3">
                    </td>
                    <td style="text-align:left;">
                        {{level2[14].option3}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option14" [checked]="checkq15o4" (click)="keepChecked15('4')" (click)="selectedOptions[14] = level2[14].option4">
                    </td>
                    <td style="text-align:left;">
                        {{level2[14].option4}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" [checked]="addReview15" name="review15" (change)="addReview15 = !addReview15">&nbsp;
                        Add to Review
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>


<div *ngIf="showQ16 == true" class="container" style="margin:25px;padding-left:100px;">
    <div>
        <table class="table table-bordered">
            <thead>
                <tr >
                    <th colspan="2" style="text-align:left;">Q. 16 {{level2[15].question}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:10%;">
                        <input type="radio" name="option15" [checked]="checkq16o1" (click)="keepChecked16('1')" (click)="selectedOptions[15] = level2[15].option1">
                    </td>
                    <td style="text-align:left;">
                        {{level2[15].option1}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option15" [checked]="checkq16o2" (click)="keepChecked16('2')" (click)="selectedOptions[15] = level2[15].option2">
                    </td>
                    <td style="text-align:left;">
                        {{level2[15].option2}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option15" [checked]="checkq16o3" (click)="keepChecked16('3')" (click)="selectedOptions[15] = level2[15].option3">
                    </td>
                    <td style="text-align:left;">
                        {{level2[15].option3}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option15" [checked]="checkq16o4" (click)="keepChecked16('4')" (click)="selectedOptions[15] = level2[15].option4">
                    </td>
                    <td style="text-align:left;">
                        {{level2[15].option4}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" [checked]="addReview16" name="review16" (change)="addReview16 = !addReview16">&nbsp;
                        Add to Review
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>


<div *ngIf="showQ17 == true" class="container" style="margin:25px;padding-left:100px;">
    <div>
        <table class="table table-bordered">
            <thead>
                <tr >
                    <th colspan="2" style="text-align:left;">Q. 17 {{level2[16].question}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:10%;">
                        <input type="radio" name="option16" [checked]="checkq17o1" (click)="keepChecked17('1')" (click)="selectedOptions[16] = level2[16].option1">
                    </td>
                    <td style="text-align:left;">
                        {{level2[16].option1}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option16" [checked]="checkq17o2" (click)="keepChecked17('2')" (click)="selectedOptions[16] = level2[16].option2">
                    </td>
                    <td style="text-align:left;">
                        {{level2[16].option2}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option16" [checked]="checkq17o3" (click)="keepChecked17('3')" (click)="selectedOptions[16] = level2[16].option3">
                    </td>
                    <td style="text-align:left;">
                        {{level2[16].option3}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option16" [checked]="checkq17o4" (click)="keepChecked17('4')" (click)="selectedOptions[16] = level2[16].option4">
                    </td>
                    <td style="text-align:left;">
                        {{level2[16].option4}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" [checked]="addReview17" name="review17" (change)="addReview17 = !addReview17">&nbsp;
                        Add to Review
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div *ngIf="showQ18 == true" class="container" style="margin:25px;padding-left:100px;">
    <div>
        <table class="table table-bordered" >
            <thead>
                <tr >
                    <th colspan="2" style="text-align:left;">Q. 18 {{level2[17].question}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:10%;">
                        <input type="radio" name="option17" [checked]="checkq18o1" (click)="keepChecked18('1')" (click)="selectedOptions[17] = level2[17].option1">
                    </td>
                    <td style="text-align:left;">
                        {{level2[17].option1}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option17" [checked]="checkq18o2" (click)="keepChecked18('2')" (click)="selectedOptions[17] = level2[17].option2">
                    </td>
                    <td style="text-align:left;">
                        {{level2[17].option2}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option17" [checked]="checkq18o3" (click)="keepChecked18('3')" (click)="selectedOptions[17] = level2[17].option3">
                    </td>
                    <td style="text-align:left;">
                        {{level2[17].option3}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option17" [checked]="checkq18o4" (click)="keepChecked18('4')" (click)="selectedOptions[17] = level2[17].option4">
                    </td>
                    <td style="text-align:left;">
                        {{level2[17].option4}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" [checked]="addReview18" name="review18" (change)="addReview18 = !addReview18">&nbsp;
                        Add to Review
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div *ngIf="showQ19 == true" class="container" style="margin:25px;padding-left:100px;">
    <div>
        <table class="table table-bordered">
            <thead>
                <tr >
                    <th colspan="2" style="text-align:left;">Q. 19 {{level2[18].question}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:10%;">
                        <input type="radio" name="option18" [checked]="checkq19o1" (click)="keepChecked19('1')" (click)="selectedOptions[18] = level2[18].option1">
                    </td>
                    <td style="text-align:left;">
                        {{level2[18].option1}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option18" [checked]="checkq19o2" (click)="keepChecked19('2')" (click)="selectedOptions[18] = level2[18].option2">
                    </td>
                    <td style="text-align:left;">
                        {{level2[18].option2}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option18" [checked]="checkq19o3" (click)="keepChecked19('3')" (click)="selectedOptions[18] = level2[18].option3">
                    </td>
                    <td style="text-align:left;">
                        {{level2[18].option3}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option18" [checked]="checkq19o4" (click)="keepChecked19('4')" (click)="selectedOptions[18] = level2[18].option4">
                    </td>
                    <td style="text-align:left;">
                        {{level2[18].option4}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" [checked]="addReview19" name="review19" (change)="addReview19 = !addReview19">&nbsp;
                        Add to Review
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div *ngIf="showQ20 == true" class="container" style="margin:25px;padding-left:100px;">
    <div>
        <table class="table table-bordered">
            <thead>
                <tr >
                    <th colspan="2" style="text-align:left">Q. 20 {{level2[19].question}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:10%;">
                        <input type="radio" name="option19" [checked]="checkq20o1" (click)="keepChecked20('1')" (click)="selectedOptions[19] = level2[19].option1">
                    </td>
                    <td style="text-align:left">
                        {{level2[19].option1}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option19" [checked]="checkq20o2" (click)="keepChecked20('2')" (click)="selectedOptions[19] = level2[19].option2">
                    </td>
                    <td style="text-align:left">
                        {{level2[19].option2}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option19" [checked]="checkq20o4" (click)="keepChecked20('3')" (click)="selectedOptions[19] = level2[19].option3">
                    </td>
                    <td style="text-align:left">
                        {{level2[19].option3}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="option19" [checked]="checkq20o4" (click)="keepChecked20('4')" (click)="selectedOptions[19] = level2[19].option4">
                    </td>
                    <td style="text-align:left">
                        {{level2[19].option4}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" [checked]="addReview20" name="review20" (change)="addReview20 = !addReview20">&nbsp;
                        Add to Review
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div style="width:100%;padding-top:10px;text-align:center">
    <!-- <button (click)="showSelectedOptions()" class="btn btn-style">Show</button>&nbsp; -->
    <button (click)="submitTest()" class="btn btn-style">Submit Level 2</button>
</div>
<footer class="footer" style="font-family:'Ubuntu';letter-spacing:1px;">Made with  <i class="fa fa-heart" aria-hidden="true" style="color:red"></i>  by team LTIeQ</footer>
</div>

<section *ngIf = "showTest==false">
    <div class="container" style="margin-top:25px;">
        <table class="table table-bordered" >
            <thead>
                <th colspan="2">
                    Level 2 Performance Report
                </th>
            </thead>
            <tbody>
                <tr>
                    <td align="center">Your score is :</td>
                    <td align="center">{{totalMarks}}/40</td>
                </tr>
                <tr>
                    <td align="center">Correct answers :</td>
                    <td align="center">{{totalMarks/2}}</td>
                </tr>
                <tr>
                    <td align="center">Wrong Answers :</td>
                    <td align="center">{{20 - totalMarks/2}}</td>
                </tr>
                <tr>
                    <td align="center" colspan="2" style="color: red;" *ngIf="totalMarks <26">
                        Sorry, You have not cleared Level 2. Better luck next time.
                    </td>
                    <td align="center" colspan="2" style="color: green;" *ngIf="totalMarks >=26">
                        Congratulations! You have cleared Level 2. All the best for Level 3!
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:30%;"colspan="2">
                        <google-chart #chart
                            [title]="''"
                            [type]="'PieChart'"
                            [data]="[['Correct Anwers',totalMarks/2],['Wrong Anwers',20 - totalMarks/2]]"
                            [columns]="['Average','Percent']"
                            [options] = "{pieHole:0.3}"
                            [width]="600"
                            [height]="300">
                        </google-chart>
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="2" *ngIf="totalMarks >=26">
                        <button class="btn btn-style" *ngIf="totalMarks >=26" (click)="goToLevel3()">Take Level 3</button>
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="2">
                        <button class="btn btn-style" (click)="endTest()">End Test</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
