<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
        <input id="student" type="radio" value="student" name="loginAs" formControlName="loginAs">
        <label for="student">Student Login</label>
     </div>
  
     <div>
        <input id="admin" type="radio" value="admin" name="loginAs" formControlName="loginAs">
        <label for="admin">Admin Login</label>
     </div>

     <div class="md-form mb-5">
        <input type="email" id="email" class="form-control validate white-text" formControlName="email">
        <label for="email">Email</label>
      </div>

      <div class="md-form pb-3">
        <input type="password" id="password" class="form-control validate white-text" formControlName="password">
        <label data-error="wrong" data-success="right" for="password">Password</label> 
      </div>
      
      <div class="text-center mb-3 col-md-12">
        <button type="submit" class="btn btn-success btn-block btn-rounded z-depth-1">Login</button>
      </div>
      <a class="btn btn-warning" [routerLink]="['forgotPassword']">Forgot Password</a>
      </form> 
</div>
