* {
    box-sizing: border-box;
  }

.navbar{
    justify-content:space-between;
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000;
}
span{
    padding-right: 2rem;
    font-family:'Ubuntu',sans-serif;
    /* Navbar */
}
.footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:black;
   color: white;
   text-align: center;
   padding:20px;
}