<div class="main">
    <mat-toolbar color="primary" class="navbar">
        <div style="font-family:'Ubuntu';font-weight:bolder;letter-spacing:1px;font-size:25px;padding-left:25px; cursor:pointer" (click)="goto()"><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;LTIeQ</div>
        <div>
            <span class="logout" style="cursor:pointer"><a (click)="logout()" >Logout&nbsp;&nbsp;<i class="fa fa-sign-out" aria-hidden="true" ></i></a></span>
        </div>
    </mat-toolbar>
    <div class="container" style="margin-top:5%;">
        <table class="table table-bordered table-hover">
           <tbody> 
                <tr >
                    <td colspan="2" align="center">
                        Online Exam System is a Multiple Choice Questions (MCQ) based examination system. It provides a comfortable to use environment for both test organizers and candidates for the test. 
                    </td>
                </tr>
                <tr style="background-color:#3F51B5;color:white;">
                    <th colspan="2">Team Members</th>
                </tr>
                <tr>
                    <td style="width:10%" align="center">1</td>
                    <td >Saurav Tiwari</td>
                </tr>
                <tr>
                    <td style="width:10%" align="center">2</td>
                    <td >Sonali Dudve</td>
                </tr>
                <tr>
                    <td style="width:10%" align="center">3</td>
                    <td >Yogesh Narwal</td>
                </tr>
                <tr>
                    <td style="width:10%" align="center">4</td>
                    <td >Ajay Upadhyaya</td>
                </tr>
                <tr style="background-color:#3F51B5;color:white;">
                    <td colspan="2" align="center">Contact Us at -> contact@ltieq.com</td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer class="footer" style="font-family:'Ubuntu';letter-spacing:1px;">Made with  <i class="fa fa-heart" aria-hidden="true" style="color:red"></i>  by team LTIeQ</footer>
</div>
