<div class="main">
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<div class='split-pane col-xs-12 col-sm-6 uiux-side'>
    <div>
      <div class='text-content'>
        <div class="bold">You want</div>
        <div class='big'>UI/UX?</div>
      </div>
      <button>
        SHOW ME THE DESIGN
      </button>
    </div>
</div>
<div class='split-pane col-xs-12 col-sm-6 frontend-side'>
    <div>
      <div class='text-content'>
        <div class="bold">You want</div>
        <div class='big'>FRONT-END?</div>
      </div>
      <a class='button'>
        SHOW ME THE CODE
      </a>
    </div>
</div>
  <div id='split-pane-or'>
    <div>
      <img src='/assets/images/icon.png' style="border-radius: 50%;">
    </div>
  </div>
</div>