<div class="container">
    <br>
    <form *ngIf="emailCheck==false" [formGroup]="emailVerificationForm" (ngSubmit)="sendOtp()">
        <div class="md-form mb-5">
            <input type="email" id="email_id" class="form-control validate white-text" formControlName="email_id">
            <label for="email_id">Email</label>
        </div>
        <div class="text-center mb-3 col-md-12">
            <button type="submit" class="btn btn-success btn-block btn-rounded z-depth-1">Send OTP</button>
        </div>
    </form>

    <div class="md-form mb-5" *ngIf="emailCheck==true && otpConfirm==false">
        <input type="text" id="otpConfirm" class="form-control validate white-text" [(ngModel)]="otpCheck">
        <button type="submit" (click)="checkOtp()" class="btn btn-success btn-block btn-rounded z-depth-1">Confirm OTP</button>
    </div>

    <form *ngIf="emailCheck==true && passwordUpdateCheck==false && otpConfirm==true" [formGroup]="passwordUpdateForm" (ngSubmit)="updatePassword()">
        <div class="md-form mb-5">
            <input type="password" id="password" class="form-control validate white-text" formControlName="password">
            <label for="password">Password</label>
        </div>
        <div class="text-center mb-3 col-md-12">
            <button type="submit" class="btn btn-success btn-block btn-rounded z-depth-1">Change Password</button>
        </div>
    </form>

</div>
