<!-- <div class="container">
    <br>
    <form *ngIf="emailCheck==false" [formGroup]="emailVerificationForm" (ngSubmit)="sendOtp()">
        <div class="md-form mb-5">
            <input type="email" id="email_id" class="form-control validate white-text" formControlName="email_id">
            <label for="email_id">Email</label>
        </div>
        <div class="text-center mb-3 col-md-12">
            <button type="submit" class="btn btn-success btn-block btn-rounded z-depth-1">Send OTP</button>
        </div>
    </form>

    <div class="md-form mb-5" *ngIf="emailCheck==true && otpConfirm==false">
        <input type="text" id="otpConfirm" class="form-control validate white-text" [(ngModel)]="otpCheck">
        <button type="submit" (click)="checkOtp()" class="btn btn-success btn-block btn-rounded z-depth-1">Confirm OTP</button>
    </div>

    <form *ngIf="emailCheck==true && passwordUpdateCheck==false && otpConfirm==true" [formGroup]="passwordUpdateForm" (ngSubmit)="updatePassword()">
        <div class="md-form mb-5">
            <input type="password" id="password" class="form-control validate white-text" formControlName="password">
            <label for="password">Password</label>
        </div>
        <div class="text-center mb-3 col-md-12">
            <button type="submit" class="btn btn-success btn-block btn-rounded z-depth-1">Change Password</button>
        </div>
    </form>

</div> -->
<div class="main">
    <div class="wrap">
        <!-- Step 1 OTP Generation and Sending -->
        <form class="login-form was-validated" *ngIf="emailCheck==false" [formGroup]="emailVerificationForm" (ngSubmit)="sendOtp()">
            <div class="form-header">
                <h3 style="font-family: 'Ubuntu'; font-weight:bolder;font-size:25px;"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;&nbsp;Forgot Password</h3>
            </div>
            
            <div class="form-group">
                <input type="email" id="email_id" class="form-control form-input" placeholder="email@example.com" formControlName="email_id" [ngClass]="{ 'is-invalid': emailSubmit && emailFormAccess.email_id.errors }">
                <div *ngIf="emailSubmit && emailFormAccess.email_id.errors" class="invalid-feedback">
                    <div *ngIf="emailFormAccess.email_id.errors.required">Email is required</div>
                    <div *ngIf="emailFormAccess.email_id.errors.email">Email must be a valid email address</div>
                </div>
            </div>
            
            <div class="form-group">
                <button class="form-button btn btn-primary" type="submit">Send OTP</button>
            </div>
            <div class="form-footer">
                *Enter Valid Email ID
            </div>
        </form>
        <!-- Confirming OTP -->
        <form class="login-form" *ngIf="emailCheck==true && otpConfirm==false">
            <div class="form-header">
                <h3 style="font-family: 'Ubuntu'; font-weight:bolder;font-size:25px;">Confirm OTP</h3>
            </div>
            <div class="form-group">
                <input type="password" id="otpConfirm" class="form-control form-input" name="otp" placeholder="Enter OTP" [(ngModel)]="otpCheck" >
                
            </div>
            <div class="form-group">
                <button type="submit" (click)="checkOtp()" class="form-button btn btn-primary">Confirm OTP</button>
            </div>
        </form>
        <!-- Reseting Password -->
        <form class="login-form" *ngIf="emailCheck==true && passwordUpdateCheck==false && otpConfirm==true" [formGroup]="passwordUpdateForm" (ngSubmit)="updatePassword()">
            <div class="form-header">
                <h3 style="font-family: 'Ubuntu'; font-weight:bolder;font-size:25px;"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;&nbsp;Reset Password</h3>
            </div>
            <div class="form-group">
                <input type="password" id="password" class="form-control form-input" placeholder="New Password" formControlName="password" [ngClass]="{ 'is-invalid': passwordSubmit && passwordFormAccess.password.errors }">
                <div *ngIf="passwordSubmit && passwordFormAccess.password.errors" class="invalid-feedback">
                    <div *ngIf="passwordFormAccess.password.errors.required">Password is required</div>
                    <div *ngIf="passwordFormAccess.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="form-group">
                <button class="form-button btn btn-primary" type="submit">Reset</button>
            </div>
        </form>
    </div>
</div>